:root {
	--fondo-color: #0066cc14;
	--naranja: #ff8c00;
	--azul: #0066cc;
	--blanco: #fff;
	--fuente1: "Dosis", sans-serif;
	--fuente2: "Lato", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 10px; /* 1 rem = 10px*/
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	font-family: "Dosis", sans-serif;
	font-family: "Lato", sans-serif;
	letter-spacing: 0.2rem;
	color: #323232;
}

/* Generales */

h1 {
	font-size: 5rem;
	font-weight: 900;
}

h2 {
	font-size: 4rem;
	font-weight: 700;
	margin-top: 6rem;
	margin-left: 6rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 2rem;
}
span {
	font-weight: 900;
}

/* General Links */
a {
	text-decoration: none;
	color: #323232;
	font-size: 2rem;
	margin: 0 2rem;
}

a:hover {
	color: #ff8c00;
}
a:active {
	color: #0066cc;
}

/* Navegación */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 13rem;
}

.nombre_logo {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.logo_personal {
	width: 75px;
	margin-left: 6rem;
}
.nombre {
	font-size: 4rem;
	margin-left: 6rem;
}
.imagen_carlos_i {
	width: 250px;
	border-radius: 50px;
}

/* ################# Banner inicial ############ */

.grid_2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	background-color: #0066cc14;
	padding: 4rem 0rem;
}

.banner_index_1 {
	margin-left: 4rem;
}
.banner_i_desc {
	margin-top: 6rem;
	margin-left: 0rem;
}
.sub_nav {
	margin: 6rem;
	text-align: center;
}
.sub_nav_separacion {
	margin-bottom: 6rem;
}

/* Contacto*/

.contacto {
	display: flex;
	flex-direction: column;
}

.tel {
	margin-left: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

.correo {
	margin-left: 30rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 2rem;
}
.linked {
	margin-left: 50rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 2rem;
}

.git {
	margin-left: 70rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 2rem;
}

.span_contacto {
	margin-left: 1.5rem;
}

/* ###################### Experiecia #################### */

.experiencia {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 2rem 10rem 2rem 10rem;
	gap: 4rem;
}

.funciones {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
}

.puesto {
	font-size: 3rem;
	font-weight: 900;
}

.separacion_datos {
	margin-bottom: 8rem;
}

ul {
	font-size: 2rem;
	line-height: 4rem;
}

/* ############################# Estudios #########################*/

.estudios {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 2rem 10rem 2rem 10rem;
	justify-items: center;
}

.titulos_est {
	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}

/* ########################## Idiomas #################### */

.idioma {
	margin-left: 20rem;
}
progress {
	height: 50px;
	width: 500px;
}

/* PAGINAS SECUNDARIAS CLASES COMUNES */

.banner_nombre {
	margin-left: 6rem;
}
.banner_frases {
	margin-left: 10rem;
}
.banner_autor_frases {
	margin-left: 14rem;
}

/* ******************* Pagina QUIEN SOY ****************** */

.foto_carlos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	margin: 6rem 0;
}
.texto_quien_soy {
	margin: 6rem;
}

/* ******************* Pagina FORMACIÓN ****************** */

.grid_cursos {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	text-align: center;
	margin: 4rem 6rem;
}

.universidad_otros {
	text-align: center;
	margin: 4rem 6rem;
}

/* ******************* PAGINA EXPERIENCIA ****************** */

.funciones_empl {
	margin: 0 8rem;
}

.empr_fecha {
	margin: 0 6rem;
}

/* ******************** PAGINA SKILLS ********************** */

.grid_skills {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	text-transform: capitalize;
}

/*  ***************** PAGINA DE PROTAFOLIO ************** */

.contenedor {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
}

.nombre_empresa {
	margin-left: 0;
}
.imagen_empresa {
	height: 100px;
	margin-left: 0;
}
.grid_bloque {
	display: grid;
	justify-items: center;
	align-items: center;
}

/*  *******************  PAGINAS internas PORTAFOLIO ************** */

.contenedor_empresa {
	background-color: var(--fondo-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;
	align-items: center;
	padding: 6rem 0;
}

.texto_proyecto {
	margin: 0 10rem;
}

.texto_proyecto2 {
	margin: 3rem 10rem;
}

.imagen_logo_banner {
	max-width: 250px;
}

.separador_tabla {
	display: grid;
	grid-template-columns: 10% 90%;
	align-items: center;
	margin-left: 10rem;
}
.iconos_proyecto {
	width: 50px;
}
