:root {
	--fondo-color: #323232;
	--naranja: #ff8c00;
	--azul: #152b45;
	--blanco: #fff;
	--fuente1: "Dosis", sans-serif;
	--fuente2: "Lato", sans-serif;
}

html {
	box-sizing: border-box;
	font-size: 10px; /* 1 rem = 10px*/
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	background-color: #323232;
	font-family: "Dosis", sans-serif;
	font-family: "Lato", sans-serif;
	letter-spacing: 0.2rem;
	color: #fff;
}

/* Generales */

h1 {
	font-size: 6rem;
	font-weight: 900;
}

h2 {
	font-size: 5rem;
	font-weight: 700;
	margin-left: 6rem;
	margin-top: 6rem;
}

h3 {
	font-size: 2.5rem;
}

h4 {
	font-size: 2rem;
}

h5 {
	font-size: 1.5rem;
}

h6 {
	font-size: 1rem;
}

p {
	font-size: 1.6rem;
}
span {
	font-weight: 900;
}

/* .logo_carlos {
	height: 15rem;
	margin-left: 10rem;
	background-color: var(--blanco);
	border-radius: 1.9rem;
	margin-top: 3rem;
} */

/* General Links */
a {
	text-decoration: none;
	color: #fff;
	font-size: 2rem;
	margin: 0 2rem;
}

a:hover {
	color: #ff8c00;
}
a:active {
	color: #0066cc;
}

/* Navegación */

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 13rem;
}

/* Banner inicial */
.grid_2 {
	margin-top: 6rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
}

.banner_nombre {
	margin-left: 6rem;
}
.banner_cv {
	margin-left: 20rem;
}

/* Contacto*/

.contacto {
	display: flex;
	flex-direction: column;
}

.tel {
	margin-left: 10rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 3rem;
}

.correo {
	margin-left: 30rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 2rem;
}
.linked {
	margin-left: 50rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 2rem;
}

.git {
	margin-left: 70rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 3rem;
	margin-top: 2rem;
}

.span_contacto {
	margin-left: 1.5rem;
}

/* ###################### Experiecia #################### */

.experiencia {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 2rem 10rem 2rem 10rem;
	gap: 4rem;
}

.funciones {
	font-size: 3rem;
	font-weight: 900;
	text-align: center;
}

.puesto {
	font-size: 3rem;
	font-weight: 900;
}

.separacion_datos {
	margin-bottom: 8rem;
}

ul {
	font-size: 2rem;
	line-height: 4rem;
}

/* ############################# Estudios #########################*/

.estudios {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin: 2rem 10rem 2rem 10rem;
	gap: 4rem;
}

.titulos_est {
	font-size: 3rem;
	font-weight: 900;
	text-transform: capitalize;
}
.separacion_datos_est {
	margin-bottom: 5rem;
}

.grid_logos {
	display: flex;
	justify-content: center;
}
.img_estudios_1 {
	max-width: 15rem;
	margin: 6rem 0;
	text-align: center;
}

.img_estudios_2 {
	width: 25rem;
	margin: 6rem 0;
	text-align: center;
	background-color: var(--blanco);
	padding: 1rem;
}

/* ######################  PAGINA quien soy ###################### */

.banner_frases {
	margin-left: 15rem;
	font-size: 2.2rem;
	margin-bottom: 2.5rem;
}
.banner_autor_frases {
	margin-left: 30rem;
}

.foto_carlos {
	display: flex;
	justify-content: space-evenly;
	margin-top: 6rem;
}

.imagen_carlos {
	border-radius: 50rem;
	max-width: 15rem;
}

.texto_quien_soy {
	max-width: 100rem;
	margin: 0 auto;
	padding: 6rem 0;
}

/* ##################### PAGINA Formación ###################### */

.nav_interna {
	margin-top: 6rem;
	margin-bottom: 8rem;
}

.grid_logos {
	display: flex;
	justify-content: center;
	align-items: center;
	grid-column: 2/3;
}
